/* Netigate survey custom styles  */

body{
	padding-top: 60px; /* When navbar is fixed on top we need this padding. */
	font-family: 'Open Sans';

	background: url(http://netigate.se/CSSGenerator2/adidasImages/rita-ora-x-adidas-originals-stan-smith.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	
	color: #efefef;
}

.navbar .navbar-brand img{
	width: auto;
}

.navbar.navbar-fixed-top{
	background: #4b5054;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}

.navbar.navbar-fixed-bottom{
	display: none;
	background: #49a4d9;
	transform: translateY(100%);
	transition: transform 100ms linear;
}

.navbar.navbar-fixed-bottom.show{
	display: block;
	transform: translateY(0%);
}

.survey-header .survey-header-content{
	text-align: center;
	margin: 4rem 0px;
}

.survey-header .survey-header-content .title{
	color: #49a4d9;
} 

.survey-header .survey-header-content .subtitle{
	display: inline-block;
    padding: 5px 30px;
    margin: 10px 0px;
    border: 1px solid rgba(255,255,255,.1);
    border-left: none;
    border-right: none;
	color: rgba(255,255,255,.7);
}

.survey-question-wrapper > * > .row{
	padding: 6rem 0px;
}

.row.survey-question .survey-question-header{
	margin-bottom: 20px;
	font-weight: 600;
}

/* Range Input */

.range-input label.range-input-left,
.range-input label.range-input-right{
	font-size: 0.9rem;
	color: #818a91;
	font-weight: 600;
}

.range-input label.range-input-left{
	float: left;		
}

.range-input label.range-input-left{
	float: right;
}

.range-input input[type="range"]{
	display: block;
	margin: 10px auto;
	width: 80%;
}

/* Table */

.table .form-check{
	margin-bottom: 0px;
}

.table td, .table th{
	vertical-align: middle;
	border-color: rgba(255,255,255,.1)!important;

	color: #818a91;
}

table.table.radio-table thead th{
	text-align: center;
}

table.table.radio-table .form-check-label{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.row.submit-area{
	text-align: center;	
}

.row.submit-area .btn{
	padding-right: 3rem;
	padding-left: 3rem;
}

/* Progress Bar */

.pbar {
width: 300px;
height: 15px;
background-color: transparent;
border-style: solid;
border-width: 1px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 1px;
margin: 0 auto 10px auto;
}

.pbarinner {
background-color: #49a4d9;
height: 100%;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}


/* Footer  */

footer{
	margin-top: 50px;
	padding:50px 0px;

	border-top: 1px solid rgba(255,255,255,.1);
	font-size: 0.8rem;
}

footer .credits{
	float: right;
}

footer .credits img{
	margin-left: 10px;
	width: 100px;
	height: auto;
	margin: 10px;
}

img{
	max-width: 100%;
}

/* Styling Netigate */
.form-check-label > span,
.qoption{
	color: #b3b3b3;
}

.survey-question-content input[type="radio"]:checked + span,
.survey-question-content input[type="checkbox"]:checked + span{
	color: white;
}

/* Bottom Bar */



/* investigate if (max-device-width: 768px) is better */
/*
@media only screen and (max-width: 768px) {
	.survey-question{
		min-height: 100vh;
	}

	.survey-question > .survey-question-header{
		margin-top: 50%;
		transform: translateY(-50%);
	}
}
*/
/* Dont remove this */
¤ {
}